<div id="menu">
	<div id="menuI">
		<ul>
      		<li tabindex="1">
        		<span class="nivel1">Ordenadores</span>
        		<ul>
					<li><%= link_to "Sobremesa","/productos/productos?categoria=2"%></li>
					<li><%= link_to "Protatiles","/productos/productos?categoria=1"%></li>
				</ul>	
		</li>
		</ul>
		<ul>
      		<li tabindex="1">
        		<span class="nivel1">Componentes</span>
        		<ul>
					<li><%= link_to "Cajas","/productos/productos?categoria=13"%></li>
					<li><%= link_to "Discos duros","/productos/productos?categoria=6"%></li>
					<li><%= link_to "Memorias Ram","/productos/productos?categoria=4"%></li>
					<li><%= link_to "Procesadores","/productos/productos?categoria=7"%></li>
					<li><%= link_to "Tarjetas Graficas","/productos/productos?categoria=3"%></li>
					<li><%= link_to "Tarjetas de sonido","/productos/productos?categoria=14"%></li>
				</ul>	
			</li>
		</ul>
		<ul>
      		<li tabindex="1">
        		<span class="nivel1">Videojuegos</span>
        		<ul>
					<li><%= link_to "Consolas","/productos/productos?categoria=15"%></li>
					<li><%= link_to "Juegos","/productos/productos?categoria=16"%></li>
					<li><%= link_to "Accesorios","/productos/productos?categoria=17"%></li>
				</ul>	
			</li>
		</ul>
		<ul>
      		<li tabindex="1">
        		<span class="nivel1">Perifericos</span>
        		<ul>
					<li><%= link_to "Altavoces","/productos/productos?categoria=19"%></li>
					<li><%= link_to "Impresoras","/productos/productos?categoria=18"%></li>
					<li><%= link_to "Ratones","/productos/productos?categoria=9"%></li>
					<li><%= link_to "Teclados","/productos/productos?categoria=10"%></li>
				</ul>	
			</li>
		</ul>
			<ul>
      		<li tabindex="1">
        		<span class="nivel1">Movilidad</span>
        		<ul>
					<li><%= link_to "Smartphones","/productos/productos?categoria=8"%></a></li>
					<li><%= link_to "Tablets","/productos/productos?categoria=5"%></a></li>
				</ul>	
			</li>
		</ul>
			<ul>
      		<li tabindex="1">
        		<span class="nivel1">Consumibles</span>
        		<ul>
					<li><%= link_to "CD DVD","/productos/productos?categoria=11"%></li>
					<li><%= link_to "Tinta","/productos/productos?categoria=12"%></li>
				</ul>	
			</li>
		</ul>
	</div>
</div>