<h1>Biembenido <%= @nombre %></h1>
<%= form_tag :action => 'form' do%>
<p>Nombre: <%= text_field_tag 'nombre_usuario', @name%></p>
<%= submit_tag 'Registrarse'%>
<% @nombres.each do |n| %>
<p><%= n.nombre%></p>
<% end %>
<% end %>